<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>

    Upadte The Product Details

    <form action="/admin/product/update/<%=products.id%>" method="POST" enctype="multipart/form-data">
        <input type="text" name="ProductName" placeholder="Product Name" id="ProductName" value="<%= products.ProductName%>">
        <input type="text" name="ProductHeading" placeholder="Product Heading" value="<%= products.ProductHeading%>">
        <input type="text" name="Price" placeholder="Price" value="<%= products.Price%>">
        <input type="text" name="ProductDescription" placeholder="Product Description" value="<%= products.ProductDescription%>">
        <input type="text" name="ProductCode" placeholder="Product Code" value="<%= products.ProductCode%>">
        <input type="text" name="Material" placeholder="Material" value="<%= products.Material%>">
        <input type="text" name="Style" placeholder="Style" value="<%= products.Style%>">
        <input type="text" name="Color" placeholder="Color" value="<%= products.Color%>">
        <input type="text" name="Dimension" placeholder="Dimension" value="<%= products.ProductName%>">
        <input type="text" name="WoodSpecies" placeholder="WoodSpecies" value="<%= products.WoodSpecies%>">
        <input type="text" name="Type" id="Type" placeholder="Type" value="<%= products.Type%>">
        <input type="submit" value="submit">
    </form>

    
    <script src="/static/updateCart.js"></script>

</body>
</html>