<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div>
        <form action="/add-product" method="POST">
            <input type="text" class="box" id="name" name="name" placeholder="name" required />
            <br>
            <input type="text" class="box" id="price" name="price" placeholder="Price" required />
            <br>
            <input type="text" class="box" id="description" name="description" placeholder="Description" required />
            <br>
            <input type="submit" value="Submit" id="submit" />
        </form>
    </div>
    
</body>
</html>